{{- $description := .Inner -}}
{{- $url := .Get "url" -}}
{{- $image := .Get "img" -}}
{{- $title := .Get "title" -}}

<div class="blogcard">
  <div class="blogcard-content">
    <div class="blogcard-title">
      <a class="link" href="{{ $url }}">
	{{ $title | truncate 80}}
      </a>
    </div>
    <div class="blogcard-excerpt">
      {{ $description }}
    </div>
  </div>
  <div class="blogcard-thumbnail">
    <a href="{{ $url}}"><img src="{{ $image }}" alt="{{ $title }}" height="450"/></a>
  </div>
</div>
